<template>
  <slide-fade>
    <div class="alert alert-danger"
         role="alert"
         v-show="show"
    >
      {{ msg }}
    </div>
  </slide-fade>
</template>

<script>
  import SlideFade from '../transitions/SlideFade';

  export default {
    name: 'Alert',
    props: {
      msg: {type: String, default: () => null},
      show: {type: Boolean, default: () => false}
    },
    components: {
       SlideFade
    },
    watch: {
      show (newValue) {
        if (newValue === true)
        {
          setTimeout(() => this.$emit('hideError'), 2000)
        }
      }
    }
  }
</script>

<style scoped>

</style>
