<template>
    <div>
      <header-page title="Créer vos mots" :back-to="backToPlayersList"></header-page>

      <alert :show="error" :msg="msg"></alert>

      <list-elts :fatherElt="roomSelected"
                 type="words"
                 :nbEltsNeeded="roomSelected.limitNbWords"
                 @validElt="validateWords"
                 v-if="roomSelected"
                 :readOnly="readOnly"
      ></list-elts>

      <button type="button"
              class="btn btn-light"
              @click="goToGame"
      >
        Passer
      </button>
    </div>
</template>

<script>
    import Alert from './Alert';
    import ListElts from './ListElts';
    import HeaderPage from './HeaderPage';
    import VueX from 'vuex'
    import SocketRequest from '../utils/SocketRequest'

    export default {
      name: 'CreateRoom',
      data () {
        return {
          words: [],
          error: false,
          readOnly: false,
          msg:   null,
        }
      },
      components: {
        ListElts,
        HeaderPage,
        Alert,
      },
      computed: {
        ...VueX.mapGetters([
          'roomSelected',
          'existWords',
          'wordsValidated',
        ]),
      },
      watch: {
        wordsValidated (newValue) {
          if (newValue === true)
          {
            this.readOnly = true
            //this.setTrueWaiting()
            // envoie les mots au serveur
            this.sendRequest(new SocketRequest(this.roomSelected.id, 'createWords', this.words))

            // redirige vers la page de jeu
            this.goToGame()
          }
        },
        existWords (newValue) {
          if (newValue.length > 0)
          {
            let doublons = []
            newValue.forEach((word) => {
              doublons.push(word.text)
            })
            this.error = true
            this.msg   = `Le(s) mot(s) ${doublons.join(`, `)} existe(nt) déjà !`
          }
        }
      },
      methods: {
        ...VueX.mapActions([
          'setRoom',
          'setTrueWaiting',
          'setPlayerCurrent',
          'setNullPlayerCurrent',
          'sendRequest'
        ]),
        backToPlayersList () {
          this.setNullPlayerCurrent()
          this.$router.push({name: 'playersList'})
        },
        goToGame () {
          // redirige vers la page de jeu
          this.$router.push({name: 'game'})
        },
        validateWords (value) {
          if (value.elts.length === this.roomSelected.limitNbWords)
          {
            this.words = value.elts
            //this.setTrueWaiting()
            // envoie les mots au serveur
            this.sendRequest(new SocketRequest(this.roomSelected.id, 'validateWords', this.words))
          }
        },
      }
    };
</script>
