<template>
    <div>
        <header-page title="Créer une pièce" :back-to="backToHome"></header-page>
        <alert :show="error" :msg="msgError" @hideError="hideError"></alert>

        <div class="content-form">
          <slide :direction="direction">
            <div class="card" v-show="step === 0">
              <div class="card-header">
                <p>Paramètres</p>
              </div>
              <ul class="list-group list-group-flush">

                <li class="list-group-item">
                  <div class="form-group">
                    <label for="nbWords">Nom de la pièce</label>
                    <input type="text"
                           class="form-control"
                           id="name"
                           placeholder="Saisir le nom de la pièce"
                           v-model="room.name"
                           v-focus
                           @keyup.enter="saveRoom"
                    >
                  </div>

                  <div class="form-group">
                    <label for="chrono">Durée d'un tour</label>
                    <input type="text"
                           class="form-control"
                           id="chrono"
                           placeholder="Saisir la durée d'un tour en secondes"
                           v-model="room.chrono"
                           @keyup.enter="saveRoom"
                    >
                  </div>

                  <div class="form-group">
                    <label for="nbWords">Nombre de mots</label>
                    <input type="text"
                           class="form-control"
                           id="nbWords"
                           placeholder="Saisir le nombre de mots à créer par joueur"
                           v-model.number="room.limitNbWords"
                           @keyup.enter="saveRoom"
                    >
                  </div>
                </li>

              </ul>
            </div>
          </slide>

          <slide :direction="direction">
            <div class="card" v-show="step === 1">
              <div class="card-header d-flex flex-row align-items-center justify-content-between">
                <p>Equipes</p>

<!--                <button type="button"-->
<!--                        class="btn btn-primary"-->
<!--                        @click.prevent="addTeam"-->
<!--                >-->
<!--                  Ajouter une équipe-->
<!--                </button>-->
              </div>
              <ul class="list-group list-group-flush">

                <li class="list-group-item">
                  <div class="d-flex flex-row flex-wrap align-items-center justify-content-around">
                    <bounce :key="team.id"
                            v-for="(team, i) in room.teams"
                    >
                      <div class="container-team">
                        <list-elts :fatherElt="team"
                                   :title="titleList(i)"
                                   type="player"
                                   :nbEltsNeeded="2"
                                   @validElt="validateElts"
                                   @deleteFather="deleteTeam(team)"
                                   :canDelete="false"
                                   :readOnly="readOnly[team.id]"
                                   :key="`list-${i}`"
                        ></list-elts>
                      </div>
                    </bounce>
                  </div>
                </li>

              </ul>
            </div>
          </slide>
        </div>


        <div class="d-flex flex-row align-items-center justify-content-end">
          <button class="btn btn-success validate"
                  @click="saveRoom"
          >
            {{ btnValidateTitle }}
          </button>
        </div>

    </div>
</template>

<script>
    import ListElts from './ListElts';
    import VueX from 'vuex'
    import Room from '../classes/Room';
    import Team from '../classes/Team';
    import VFocus from '../directives/VFocus';
    import SocketRequest from '../utils/SocketRequest';
    import Slide from '../transitions/Slide';
    import Bounce from '../transitions/Bounce';
    import Alert from './Alert';
    import HeaderPage from './HeaderPage';

    export default {
      name: 'CreateRoom',
      data () {
        return {
          room: null,
          error: false,
          step: 0,
          msgError: null,
          readOnly: {},
        }
      },
      components: {
        ListElts,
        Slide,
        Bounce,
        Alert,
        HeaderPage,
      },
      methods: {
        ...VueX.mapActions([
          'setRoomSelected',
          'setTrueWaiting',
          'sendRequest'
        ]),
        deleteTeam (teamToDelete) {
          const index = this.room.teams.findIndex((team) => team.id === teamToDelete.id)
          if (index !== -1)
          {
            this.room.teams.splice(index, 1)
          }
        },
        backToHome () {
          if (this.step === 1)
          {
            this.step = 0
          }
          else
          {
            this.$router.push({name: 'home'})
          }
        },
        addTeam () {
          let team = new Team(0, this.room.teams.length)
          this.room.addTeam(team)
          this.readOnly[team.id] = false
        },
        validateElts (value) {
          let team               = value.fatherElt;
          team.players           = value.elts;
          this.readOnly[team.id] = true;
          this.readOnly          = JSON.parse(JSON.stringify(this.readOnly));
        },
        saveRoom()
        {
          if (this.step === 0)
          {
            if (!this.room.name)
            {
              this.setError('Vous devez renseignez le nom de la pièce')
            }
            else
            {
              this.step = 1
            }
          }
          else
          {
            if (this.room.teams.length > 1)
            {
              //this.setTrueWaiting()
              // set la room sur le server
              this.sendRequest(new SocketRequest(0, 'setRooms', [this.room]))

              // set la room comme room séléctionnée
              this.setRoomSelected(this.room)

              // redirige vers la page des teams
              this.$router.push({name: 'teamsList'})
            }
            else
            {
              this.setError('Vous devez créér au moins deux équipes')
            }
          }
        },
        titleList (index) {
          return `Liste des joueurs de l'équipe ${index + 1}`
        },
        setError (msg) {
          this.error    = true
          this.msgError = msg

        },
        hideError () {
          this.error = false
        }
      },
      computed: {
        btnValidateTitle () {
          return (this.step === 0) ? `Suivant` : `Creer la pièce`
        },
        direction () {
          return this.step === 0 ? 'left' : 'right'
        }
      },
      directives: {
        focus: VFocus
      },
      created()
      {
        this.room = new Room();
        this.room.addTeam(new Team(0, 0))
        this.room.addTeam(new Team(0, 1))
      }
    };
</script>

<style scoped>
  .validate {
    margin-top: 10px;
  }

  .card {
    margin-top: 10px;
  }
  .card-header p {
    font-size: 20px;
  }

  .content-form {
    position: relative;
  }


  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 750px) {

    .container-team {
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }



</style>
