<template>
  <div>
    <a href="#" @click='toggleShow'>
      <span class="white"
            v-if="playerCurrent !== null"
      >
        {{ playerCurrent.name}}
      </span>
      <i class="fas fa-user-circle white"></i>
      <i class="fas fa-sort-down white"
         v-show="showArrowMenu"
      ></i>
    </a>
    <div v-if='showMenu' class='menu'>
      <div class='menu-item'
           v-for='item in this.items'
           @click='itemClicked(item)'
           v-show="item.show"
      >
        {{item.text}}
      </div>
    </div>
  </div>
</template>

<script>
import VueX from 'vuex';

export default {
  name: 'DropDown',
  data: function() {
    return {
      showMenu: false
    }
  },
  props: {
    onClick: {type: Function },
    items: { type: Array, default: () => [] }
  },
  computed: {
    ...VueX.mapGetters([
     'playerCurrent',
   ]),
    showArrowMenu () {
      return (this.items.filter((item) => item.show === true).length > 0)
    }
  },
  methods: {
    toggleShow: function() {
      this.showMenu = !this.showMenu;
    },
    itemClicked: function(item) {
      this.toggleShow();
      item.click();
    }
  }
};
</script>

<style scoped>

.menu {
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  color: #212529;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  list-style: none;
  margin: .125rem 0 0;
  padding: .5rem 0;
  position: absolute;
  text-align: left;
  right: 1rem;
}

.menu-item {
  color: #212529;
  padding: .25rem 1.5rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.menu-item:hover {
  background-color: #F4F6F6;
  cursor: pointer;
}

.white {
  color: #FFFFFF;
  padding: 5px;
}
</style>
