<template>
  <div v-if="roomSelected">

    <fade>
      <div v-show="readyToPlay === false">
        <h2>Salle d'attente</h2>
        <div class="room-waiting my-5"
             v-if="roomSelected"
        >
          <div class="btn-team"
               v-for="(team, i) in roomSelected.teams"
          >
            <p class="team">
              Équipe {{ i + 1 }}
            </p>
            <div v-for="player in team.players"
                 class="label-player"
            >
              <span>{{ player.name }}</span>
              <i class="fas" :class="{'fa-check': player.ready, 'fa-spinner fa-spin': !player.ready}"></i>
            </div>

          </div>
        </div>
      </div>
    </fade>

    <fade>
      <div class="container-game"
           v-show="readyToPlay === true"
      >
        <div class="title-step">
          <h2 v-if="stepCurrent">{{ stepCurrent.name }}</h2>
          <h2 v-else-if="allStepDone">Partie finie !!</h2>
        </div>

        <div class="chrono-container">
          <span class="chrono"
                :class="{warning: this.seconds <= 10 && this.seconds > 5, danger: this.seconds <= 5 && this.seconds > 0, zero: this.seconds === 0}"
          >
            {{ this.seconds }}
          </span>
        </div>

        <fade>
          <div class="word-container"
               v-show="stepStarted === true && playerCurrent.playing"
          >
            <span class="word">{{ wordCurrentText }}</span>
          </div>
        </fade>
        <fade>
          <div class="action-button-container"
               v-show="playerCurrent.playing && allStepDone === false"
          >
            <button type="button"
                    class="btn btn-success"
                    @click="startChrono"
                    v-show="stepStarted === false"
            >
              Commencer
            </button>

            <button type="button"
                    class="btn btn-success"
                    @click="validWord"
                    v-show="stepStarted === true"
            >
              Valider
            </button>

            <button type="button"
                    class="btn btn-light"
                    @click="nextWord"
                    v-show="stepStarted === true"
            >
              Passer
            </button>
          </div>
        </fade>
        <fade>
          <div class="action-button-container"
               v-show="playerPlayingInfo !== null"
          >
            <p>{{ playerPlayingInfo }}</p>
          </div>
        </fade>
        <fade>
          <div class="score"
               v-show="displayScore"
          >
            <ul class="list-group"
                v-for="(team, i) in roomSelected.teams"
            >
              <li class="list-group-item score-team">
                Equipe {{ i + 1 }} : <span><strong>{{ team.score }}</strong> pts</span>
              </li>
            </ul>

          </div>
        </fade>
        <fade>
          <div class="action-button-container"
               v-show="allStepDone"
          >
            <button type="button"
                    class="btn btn-info"
                    @click="restartGame"
            >
              Recommencer
            </button>

            <button type="button"
                    class="btn btn-danger"
                    @click="leaveGame"
            >
              Quitter
            </button>
          </div>
        </fade>

      </div>
    </fade>


  </div>

</template>

<script>
  import VueX from'vuex'
  import SocketRequest from '../utils/SocketRequest';
  import Bounce from '../transitions/Bounce';
  import SlideFade from '../transitions/SlideFade';
  import Slide from '../transitions/Slide';
  import Fade from '../transitions/Fade';

  export default {
    name: 'Game',
    components: {Fade, Slide, SlideFade},
    data () {
      return {
        seconds:          null,
        wordCurrentIndex: null,
        displayScore:     false,
        stepStarted:      false,
        teamPlayingOrder: 0,
        gameInitialized:  false,
      }
    },
    methods: {
      ...VueX.mapActions([
        'addPointToTeam',
        'setWordDone',
        'setTrueWaiting',
        'setFalseWaiting',
        'setFalseWordsValidated',
        'sendRequest',
        'cleanGame',
      ]),
      restartGame () {
        //this.setTrueWaiting()
        this.sendRequest(new SocketRequest(this.roomSelected.id, 'restartRoom'))
      },
      leaveGame () {
        //this.setTrueWaiting()
        this.sendRequest(new SocketRequest(this.roomSelected.id, 'deleteRoom'))
        this.cleanGame()
      },
      startChrono () {
        //this.setTrueWaiting()

        this.startStep()
        // this.sendRequest(new SocketRequest(this.roomSelected.id, 'startChrono'))
      },
      startStep () {
        this.$interval = setInterval(() => {
          this.seconds--
          if (this.seconds <= 0)
          {
            // stop l'interval
            clearInterval(this.$interval)

            // si le joueur courant joue, on prepare le prochain tour
            if (this.playerCurrent.playing === true)
            {
              if (this.wordsNotDone === 0)
              {
                this.prepareNextStep()
              }
              else
              {
                this.nextPlayer()
              }
            }
          }
        }, 1000)
        this.wordCurrentIndex = 0
        this.stepStarted      = true
        this.displayScore     = false
      },
      restartChrono () {
        this.seconds = this.roomSelected.chrono
      },
      nextPlayer () {
        if (this.playerCurrent.playing === true)
        {
          //this.setTrueWaiting()
          // sauvegarde les points et les mots fait
          this.sendRequest(new SocketRequest(this.roomSelected.id, 'setRooms', [this.roomSelected]))

          // setTimeout(() => {
            // set le joueur qui va jouer
            this.setPlayerPlaying()
          // }, 2000)

          // restart le chrono
          this.restartChrono()
        }

        // affiche les score et met le jeu ne pause
        this.displayScore     = true
        this.stepStarted      = false
      },
      setPlayerPlaying () {
        //this.setTrueWaiting()
        // set le joueur qui va jouer
        this.sendRequest(new SocketRequest(this.roomSelected.id, 'setPlayerPlaying'))
      },
      nextWord () {
        if (this.wordsNotDone.length > 0)
        {
          // let newWordCurrentIndex = null
          // do {
          //   newWordCurrentIndex = Math.floor(Math.random() * Math.floor(this.wordsNotDone.length - 1))
          // } while (this.wordCurrentIndex === newWordCurrentIndex)
          // this.wordCurrentIndex = newWordCurrentIndex
          if (this.wordCurrentIndex < this.wordsNotDone.length - 1)
          {
            this.wordCurrentIndex++
          }
          else
          {
            this.wordCurrentIndex = 0
          }
        }
        else
        {

          // stop l'interval
          clearInterval(this.$interval)

          // prepare la nouvelle step
          this.prepareNextStep()
        }
      },
      validWord () {
        if (typeof this.wordsNotDone[this.wordCurrentIndex] !== 'undefined')
        {
          this.addPointToTeam(this.teamSelected)
          this.setWordDone(this.wordsNotDone[this.wordCurrentIndex])
          this.nextWord()

        }
      },
      prepareNextStep()
      {
        // si le playerCurrent.playing === true or si cest le dernier ready
        if (this.playerCurrent.playing === true ||
          (this.gameInitialized === false && this.playerCurrent.isLastReady === true)
        )
        {
          if (this.stepCurrent && this.gameInitialized === true)
          {
            //this.setTrueWaiting()
            // sauvegarde le tour, set la step courante faite, reset les mots et les mélanges
            this.sendRequest(new SocketRequest(this.roomSelected.id, 'saveTurn', [this.roomSelected, this.stepCurrent]))
          }

          // set le player qui va jouer apres
          this.setPlayerPlaying()
        }

        // affiche les scores, mets le jeu en pause et set letape suivante
        this.displayScore = true
        this.stepStarted  = false

        // restart le chrono
        this.restartChrono()
      },
    },
    watch: {
      readyToPlay (value) {
        if (value === true && this.gameInitialized === false)
        {
          this.prepareNextStep()
          this.gameInitialized = true
        }
      },
      playerCurrent (value) {
        if (typeof this.roomSelected !== 'undefined' && this.roomSelected !== null &&
            typeof value !== 'undefined' && value !== null &&
            value.ready === false
        )
        {
          this.sendRequest(new SocketRequest(this.roomSelected.id, 'setPlayerReady', [this.playerCurrent]))
        }
        if (typeof this.roomSelected !== 'undefined' && this.roomSelected !== null)
        {
          this.seconds = this.roomSelected.chrono
        }
      }
    },
    computed: {
      ...VueX.mapGetters([
        'teamSelected',
        'roomSelected',
        'playerCurrent',
        'stepCurrent',
      ]),
      readyToPlay () {
          let readyToPlay = false;
          if (this.roomSelected !== null) {
            readyToPlay = true;
            this.roomSelected.teams.forEach((team) => {
              team.players.forEach((player) => {
                if (player.ready === false) {
                  readyToPlay = false
                }
              })
            })
          }

        return readyToPlay
      },
      wordsNotDone () {
        return (Array.isArray(this.roomSelected.words)) ? this.roomSelected.words.filter((word) => word.done === false) : []
      },
      wordCurrentText () {
        return (Array.isArray(this.wordsNotDone) && typeof this.wordsNotDone[this.wordCurrentIndex] !== 'undefined')
          ? this.wordsNotDone[this.wordCurrentIndex].text
          : null
      },
      allStepDone () {
        return this.roomSelected.steps.filter((step) => step.done === false).length === 0
      },
      playerPlayingInfo () {
        if (this.roomSelected !== null &&
            this.playerCurrent !== null &&
            this.playerCurrent.playing === false &&
            this.allStepDone === false
        ) {
          const teamPlaying   = this.roomSelected.teams[this.roomSelected.teamPlayingOrder]
          const playerPlaying = teamPlaying.players[teamPlaying.playerPlayingOrder]
          return `C'est au tour de ${playerPlaying.name} de l'équipe ${teamPlaying.order + 1}`
        }

        return null
      }
    },
    mounted () {
      //this.setTrueWaiting()
      this.setFalseWordsValidated()
      if (this.roomSelected !== null && typeof this.roomSelected !== 'undefined' &&
          this.playerCurrent !== null && typeof this.playerCurrent !== 'undefined'
      ) {
        this.seconds = this.roomSelected.chrono
        this.sendRequest(new SocketRequest(this.roomSelected.id, 'setPlayerReady', [this.playerCurrent]))
      }
      // console.log('created')
      // this.$socket.client.on('startStep', () => {
      //   console.log('socket startStep')
        // this.setFalseWaiting()
        // this.startStep()
      // })
    },
    beforeDestroy () {
      // this.$socket.$unsubscribe('startStep')
    }
  };
</script>

<style scoped>

  .chrono {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    border: 2px solid #628d57;
    color: #628d57;
    justify-content: center;
    align-items: center;
    font-size: 70px;
    margin-top: 20px;
  }

  .chrono.warning {

    border: 2px solid #ffc107;
    color: #ffc107;
  }

  .chrono.danger {
    border: 2px solid #bd2130;
    color: #bd2130;
    animation: rouge 1s infinite;
  }
  .chrono.zero {
    border: 2px solid #bd2130;
    color: #bd2130;
  }
  @keyframes rouge {
    0%{transform: scale(1);}
    50%{transform: scale(1.1)}
    100%{transform: scale(1)}
  }

  .container-game {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .word {
    font-size: 40px;
  }

  .action-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
  }

  .score {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    width: 100%;
  }

  .btn-team {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
  }
  .btn-team p.team {
    font-size: 30px;
  }

  .label-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .room-waiting {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .title-step {
    display: flex;
    flex-direction: row;
  }

  .chrono-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .word-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .score-team {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
  }

  .list-group {
    flex-grow: 1;
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 900px)
  and (orientation: landscape) {

    .chrono {
      width: 100px;
      height: 100px;
      border-radius: 150px;
      font-size: 50px;
      margin-top: 5px;
    }

    .container-game {
      padding-top: 0px;
    }
  }

  /* Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 750px)
  and (orientation: portrait) {

    .btn-team {
      height: 230px;
      width: 140px;
      justify-content: unset;

    }
    .btn-team p {
      font-size: 25px;
      margin-top: 2em;
    }
    .btn-team span:last-child {
      margin-bottom: 2em;
    }
  }

  /* Landscape */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 850px)
  and (orientation: landscape) {
    .btn-team {
      height: 230px;
      width: 200px;

    }
    .btn-team i {
      font-size: 30px;
      margin-top: 10px;
    }
    .btn-team span {
      font-size: 20px;
    }
  }

</style>
