<template>
    <div class="d-flex flex-row align-items-center justify-content-between">

      <h1>{{title}}</h1>

      <button type="button"
              class="btn btn-light"
              @click="backTo"
      >
        Retour
      </button>

    </div>
</template>

<script>
  export default {
    props: {
      title: {type: String},
      backTo: {type: Function},
    },
    name: 'HeaderPage'
  }
</script>
