<template>
  <div class="d-flex flex-row justify-content-around align-items-center container-btn-room">

        <div class="btn-room"
             @click="goTo('createRoom')"
        >
          <i class="fas fa-plus-circle"></i>
          <span>Créer une piece</span>
        </div>


        <div class="btn-room join"
             @click="goTo('joinRoom')"
        >
          <i class="fas fa-sign-in-alt"></i>
          <span>Rejoindre une piece</span>
        </div>
  </div>

</template>

<script>
  import VueX from 'vuex'

  export default {
    name: 'Home',
    methods: {
      ...VueX.mapActions([
        'setNullRoomSelected',
        'setNullTeamSelected',
        'setNullPlayerCurrent',
      ]),
      goTo (route) {
        this.$router.push({name: route})
      }
     },
    mounted () {
      this.setNullRoomSelected()
      this.setNullTeamSelected()
      this.setNullPlayerCurrent()

    }
  }
</script>

<style scoped>


  .container-btn-room {
    height: 80vh;
  }
  .btn-room {
    /*margin-top: 50px;*/
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 320px;
    background-color: #b85353;
    border-color: #b85353;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    padding: 1em;
  }

  .btn-room:hover {
    background-color: #C82333;
  }

  .btn-room i {
    font-size: 50px;
    color: white;
  }
  .btn-room span {
    font-size: 30px;
    color: white;
    text-align: center;
  }

  .btn-room.join {
    background-color: #28a745;
    border-color: #28a745;
  }
  .btn-room.join:hover {
    background-color: #278838;
  }

  /* Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 750px)
  and (orientation: portrait) {

    .btn-room {
      height: 230px;
      width: 140px;

    }
    .btn-room i {
      font-size: 30px;
      margin-top: 10px;
    }
    .btn-room span {
      font-size: 20px;
    }
  }

  /* Landscape */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 850px)
  and (orientation: landscape) {
    .container-btn-room {
      height: 63vh;
    }
    .btn-room {
      height: 230px;
      width: 200px;

    }
    .btn-room i {
      font-size: 30px;
      margin-top: 10px;
    }
    .btn-room span {
      font-size: 20px;
    }
  }



</style>
