<template>
  <div>
    <header-page title="Rejoindre une pièce" :back-to="backToHome"></header-page>

    <div class="d-flex flex-row justify-content-around my-5 container-room" v-if="rooms.length > 0">

      <div class="btn-room"
           v-for="room in rooms"
           @click="selectRoom(room)"
      >
        <p>{{ room.name }}</p>
      </div>

    </div>
    <div class="d-flex flex-col justify-content-center my-5" v-else>

      <span>Aucune pièce n'existe, il faut en créer une.</span>

    </div>

  </div>

</template>

<script>
  import VueX from'vuex'
  import SocketRequest from '../utils/SocketRequest';
  import HeaderPage from './HeaderPage';

  export default {
    name: 'JoinRoom',
    components: {
      HeaderPage,
    },
    methods: {
      ...VueX.mapActions([
        'setRoomSelected',
        'setTrueWaiting',
        'sendRequest',
      ]),
      selectRoom (room) {
        this.setRoomSelected(room)
        this.$router.push({name: 'teamsList'})
      },
      backToHome () {
        this.$router.push({name: 'home'})
      }
    },
    computed: {
      ...VueX.mapGetters([
        'rooms'
      ])
    },
    mounted()
    {
      //this.setTrueWaiting()
      this.sendRequest(new SocketRequest(0, 'getRooms'))
    }
  };
</script>

<style scoped>
  .btn-room {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    margin: 1em;
  }
  .btn-room p {
    font-size: 30px;
  }

  .btn-room:hover {
    background-color: #E2E6EA;
  }

  .container-room {
    flex-wrap: wrap;
  }

</style>
