<template>
      <div :class="{'form-elts': type === 'team'}">

        <p class="title" v-if="title">{{ title }}</p>

        <alert :msg="msg" :show="error" @hideError="hideError"></alert>

        <div class="form-group"
             v-show="readOnly === false"
        >
          <label for="elt">{{ label }}</label>
          <input type="text"
                 class="form-control"
                 id="elt"
                 :placeholder="`${placeholder} (Entrer pour valider)`"
                 v-model.trim="newElt"
                 @keypress.enter="addElt"
                 v-focus
          >
        </div>

        <ul class="list-group">
          <li class="list-group-item"
              v-for="elt in elts"
          >
            <div class="li-container">
                <span>{{ eltName(elt) }}</span>
                <i class="fas fa-times"
                   v-if="readOnly === false"
                   @click="deleteElt(elt)"
                ></i>
            </div>
          </li>
        </ul>

        <div class="d-flex flex-row align-items-center"
             :class="{' justify-content-between': type === 'team', ' justify-content-end': type === 'words'}"
        >
          <button class="btn btn-danger btn-list-elts"
                  @click="deleteList"
                  v-if="readOnly === false && canDelete === true"
          >
            {{ deleteButtonText }}
          </button>

          <button class="btn btn-success btn-list-elts"
                  @click="validElts"
                  v-if="readOnly === false"
          >
            {{ validateButtonText }}
          </button>
        </div>


      </div>
</template>

<script>
    import VFocus from '../directives/VFocus';
    import Room from '../classes/Room';
    import Team from '../classes/Team';
    import Word from '../classes/Word';
    import Player from '../classes/Player';
    import Alert from '../components/Alert';

    export default {
      name: 'ListElts',
      props: {
        title:        {type: String, default: () => null},
        canDelete:    {type: Boolean, default: () => false},
        type:         {type: String},
        fatherElt:    [Room, Team],
        nbEltsNeeded: {type: Number},
        readOnly:     {type: Boolean, default: () => false},
      },
      components: {
        Alert
      },
      data () {
        return {
          newElt: '',
          msg: '',
          error: false,
          readOnlyLocal: false,
          elts: [],

        }
      },
      methods: {
        hideError() {
          this.error = false
        },
        deleteList () {
          this.$emit('deleteFather')
        },
        eltName (elt) {
          let name = 'non_defini'
          switch (this.type)
          {
            case 'player':
              name = elt.name
              break;
            case 'words':
              name = elt.text
              break;
          }

          return name
        },
        addElt() {
          if (this.newElt !== '')
          {
            switch (this.type)
            {
              case 'player':
                let player = new Player(0, this.newElt, this.elts.length)
                this.elts.push(player)
                break;
              case 'words':
                if (this.elts.length < this.nbEltsNeeded)
                {
                  let alreadyExist = false;
                  this.elts.forEach((word) => {
                    if (this.newElt.toUpperCase() === word.text.toUpperCase()) {
                      alreadyExist = true
                    }
                  })
                  if (alreadyExist === true) {
                    this.error = true
                    this.msg = `Vous avez déjà saisi le mot '${this.newElt}'`
                    setTimeout(() => { this.error = false}, 2000)
                  } else {
                    let words = new Word(0, this.newElt)
                    this.elts.push(words)
                  }
                }
                else
                {
                  this.error = true
                  this.msg = `Vous dépassez la limite de mots (${this.nbEltsNeeded})`
                  setTimeout(() => { this.error = false}, 2000)
                }
            }
            this.newElt = '';
          }
        },
        deleteElt(eltToDelete) {
            this.elts = this.elts.filter(elt => elt !== eltToDelete);
        },
        validElts() {
          let ok = false
          switch (this.type)
          {
            case 'player':
              ok = this.elts.length >= this.nbEltsNeeded
              break
            case 'words':
              ok = this.elts.length === this.nbEltsNeeded
              break

          }

          if (ok)
          {
            this.$emit('validElt', { elts : this.elts, fatherElt: this.fatherElt })
          }
          else
          {
            this.error = true
            switch (this.type)
            {
              case 'player':
                this.msg = `Vous devez saisir au moins ${this.nbEltsNeeded} joueur(s)`
                break
              case 'words':
                this.msg = `Vous devez saisir ${this.nbEltsNeeded} mot(s) précis`
                break

            }
            this.error = true
            setTimeout(() => { this.error = false}, 2000)
          }
        }
      },
      computed: {
        label () {
          let label = `Nom de le l'élément`
          switch (this.type)
          {
            case 'player':
              label = `Nom du joueur`
              break;
            case 'words':
              label = `Un mot`
              break;
          }

          return label
        },
        placeholder () {

          let placeholder = `Saisir le nom de le l'élément`
          switch (this.type)
          {
            case 'player':
              placeholder = `Saisir le nom du joueur`
              break;
            case 'words':
              placeholder = `Saisir un mot`
              break;
          }

          return placeholder
        },
        validateButtonText () {

          let text = `Valider la liste`
          switch (this.type)
          {
            case 'player':
              text = `Valider la liste des joueurs`
              break;
            case 'words':
              text = `Valider la liste des mots`
              break;
          }

          return text
        },
        deleteButtonText () {

          let text = `Supprimer la liste`
          switch (this.type)
          {
            case 'player':
              text = `Supprimer la liste des joueurs`
              break;
            case 'words':
              text = `Supprimer la liste des mots`
              break;
          }

          return text
        },
      },
      directives: {
        focus: VFocus
      }
    };
</script>

<style scoped>
  .btn-list-elts {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .title {
    font-size: 20px;
  }

  .form-elts {
    padding: 10px;
    width: 500px;
  }

  .li-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>
