<template>
  <div>
    <header-page title="Trouvez vous" :back-to="backToTeamsList"></header-page>


      <div class="d-flex flex-row justify-content-around my-5 container-player"
           v-if="teamSelected !== null"
      >
          <div class="btn-player"
               v-for="player in teamSelected.players"
               v-if="player.ready === false"
               @click.prevent="goToCreateWords(player)"
          >
            <p>{{ player.name }}</p>
          </div>
      </div>

  </div>
</template>

<script>
  import VueX from'vuex'

  import HeaderPage from './HeaderPage';

  export default {
    name: 'TeamsList',
    components: {
      HeaderPage,
    },
    data () {
      return {
        error: false,
      }
    },
    computed: {
      ...VueX.mapGetters([
         'teamSelected'
      ]),
    },
    methods: {
      ...VueX.mapActions([
        'setPlayerCurrent',
        'setNullTeamSelected',
     ]),
      backToTeamsList () {
        this.setNullTeamSelected()
        this.$router.push({name: 'teamsList'})
      },
      goToCreateWords (player) {
        this.setPlayerCurrent(player)
        this.$router.push({name: 'createWords'})
      }
    },
  };
</script>

<style scoped>
  .btn-player {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;
    overflow: hidden;
    margin: 1em;
  }
  .btn-player p {
    font-size: 30px;
  }

  .btn-player:hover {
    background-color: #E2E6EA;
  }

  .container-player {
    flex-wrap: wrap;
  }

</style>
