<template>
  <div>
    <header-page title="Règles du jeu" :back-to="goBackHome"></header-page>

    <div class="d-flex flex-column justify-content-center my-5">

      <div class="groupText">
        <h2>But du jeu</h2>
        <p>Deviner le plus de mots pour avoir le plus de points possibles à la fin trois manches.</p>
      </div>

      <div class="groupText">
        <h2>Déroulement du jeu</h2>
        <p>Le jeu de déroule en en 3 manches.</p>
        <p>Durant chaque manche, par alternace entre les équipes, un joueur devra faire deviner le plus de mots à son équipe suivant la règle de la manche, dans une limite de temps.</p>
        <p>Pour commencer son tour, le joeur doit cliquer sur le bouton 'Commencer'.</p>
        <p>Si ce joueur  arrive à faire deviner son mot, il le valide et un autre lui sera donné.</p>
        <p>Ce joueur a la possibilité de passer le mot, sauf si c'est le dernier mot.</p>
        <p>Une fois le temps imparti écoulé, ça sera le tour d'un joueur de l'autre équipe de faire deviner les mots.</p>
        <p>Si le joueur fait deviner le dernier mot, la manche se termine et on passe à la manche suivante.</p>
        <p>A la fin d'une manche, les points gagnés sont comptabilisés.</p>
        <p>Quand les trois manches sont terminées, l'équipe qui a le plus de points gagne la partie.</p>
        <p>A ce moment, vous pouvez soit recommencé une partie, soit quitté la pièce, ce qui la supprime.</p>
        <p>ATTENTION ! Si un joueur décide de quitter la pièce en cours de partie, tous les joueurs sont expulsés de la pièce.</p>
      </div>

      <div class="groupText">
        <h2>Les différente manche</h2>
        <div class="subGroupText">
          <h3>Tout sauf les mots racines </h3>
          <p>Le joueur doit faire deviner le mot avec tous les mots qu'il veut sauf si l'on retrouve la racine du mot dedans.</p>
          <h3>Un seul mot</h3>
          <p>Le joueur doit faire deviner le mot avec, et seulement, un seul mot.</p>
          <h3>Mimes</h3>
          <p>Le joueur doit faire deviner le mot en faisant des mimes.</p>
        </div>
      </div>

      <div class="groupText">
        <h2>Comment jouer ?</h2>
        <p>Il y a deux cas possibles, soit tu rejoins une pièce déjà créée ou tu en créés une.</p>
        <p>Si une pièce est déja créée, passes directement à l'étape 4, après avoir rejoins une pièce.</p>
        <p>1 - Tu devras créer une pièce.</p>
        <p>2 - Paramétrer la pièce.</p>
        <p>3 - Créer les deux équipes.</p>
        <p>4 - Sélectionner ton équipe (pas nécessaire si c'est toi qui à créer la pièce).</p>
        <p>5 - Sélectionner ton équipe</p>
        <p>6 - Sélectionner ton nom</p>
        <p>7 - Créer tes mots</p>
        <p>8 - Patienter que les autres joueurs et fais de même. Une fois que tout le monde est la, le jeu se lance</p>
      </div>

    </div>
  </div>

</template>

<script>

  import HeaderPage from './HeaderPage';

  export default {
    name: 'Rules',
    components: {
      HeaderPage,
    },
    methods: {
      goBackHome () {
        this.$router.go(-1)
      }
    }
  };
</script>

<style scoped>
  .groupText {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .subGroupText {
    padding-left: 1em;
  }
</style>
