<template>
    <div>

      <header-page title="Séléctionner votre équipe" :back-to="backToJoinRoom"></header-page>

      <div class="d-flex flex-row justify-content-around my-5"
           v-if="roomSelected !== null"
      >

        <div class="btn-team"
             v-for="(team, i) in roomSelected.teams"
             v-if="allPlayersAreReady(team) === false"
             @click="selectTeam(team)"
        >
          <p>Équipe {{ i + 1 }}</p>
          <span v-for="player in team.players">
            {{ player.name }}
          </span>

        </div>

      </div>

    </div>
</template>

<script>
  import VueX from'vuex'
  import HeaderPage from'./HeaderPage'

  export default {
    data () {
      return {
        error: false,
      }
    },
    name: 'TeamsList',
    components: {
      HeaderPage
    },
    methods: {
      ...VueX.mapActions([
        'setTeamSelected',
        'setNullRoomSelected',
      ]),
      selectTeam (team) {
        this.setTeamSelected(team)
        this.$router.push({name: 'playersList'})
      },
      backToJoinRoom () {
        this.setNullRoomSelected()
        this.$router.push({name: 'joinRoom'})
      },
      allPlayersAreReady (team) {
        return team.players.filter((player) => player.ready === false).length === 0
      }
    },
    computed: {
      ...VueX.mapGetters([
        'roomSelected'
      ]),
    }
  }
</script>

<style scoped>
  .btn-team {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 300px;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    cursor: pointer;;
  }
  .btn-team p {
    font-size: 30px;
  }

  .btn-team:hover {
    background-color: #E2E6EA;
  }

  /* Portrait */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 750px)
  and (orientation: portrait) {

    .btn-team {
      height: 230px;
      width: 140px;

    }
    .btn-team p {
      font-size: 25px;
      margin-top: 2em;
    }
    .btn-team span:last-child {
      margin-bottom: 2em;
    }
  }

  /* Landscape */
  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 850px)
  and (orientation: landscape) {
    .btn-team {
      height: 230px;
      width: 200px;

    }
    .btn-team i {
      font-size: 30px;
      margin-top: 10px;
    }
    .btn-team span {
      font-size: 20px;
    }
  }
</style>
