<template>
  <transition name="fade" appear mode="out-in">
    <slot></slot>
  </transition>
</template>

<script>
    export default {
        name: 'Fade'
    };
</script>

<style scoped>
  .fade-enter-active {
    animation: fade-in .6s;
  }
  .bounce-leave-active {
    animation: bounce-in .6s reverse;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
</style>
