<template>
  <transition :name="name" mode="out-in">
    <slot></slot>
  </transition>
</template>

<script>
  export default {
    name: 'Slide',
    props: {
      direction: {type: String}
    },
    computed: {
      name () {
        return `slide-${this.direction}`
      }
    }
  }
</script>

<style scoped>

  .slide-left-enter-active {
    animation: slideLefttIn 0.5s;
  }
  .slide-left-leave-active {
    animation: slideLeftOut 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    buttom: 0;
    width: 100%;
  }

  @keyframes slideLefttIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideLeftOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(100%);
      opacity: 0;
    }
  }

  .slide-right-enter-active {
    animation: slideRightIn 0.5s;
  }
  .slide-right-leave-active {
    animation: slideRightOut 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    buttom: 0;
    width: 100%;
  }

  @keyframes slideRightIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideRightOut {
    from {
      transform: translateX(0);
      opacity: 1;
    }
    to {
      transform: translateX(-100%);
      opacity: 0;
    }
  }
</style>
