<template>
  <transition name="slide-fade" appear mode="out-in">
    <slot></slot>
  </transition>
</template>

<script>
    export default {
        name: 'SlideFade'
    };
</script>

<style scoped>
  .slide-fade-enter-active {
    transition: all .5s ease;
  }
  .slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .slide-fade-enter, .slide-fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
</style>
