<template>
  <transition name="updown" appear mode="out-in">
    <slot></slot>
  </transition>
</template>

<script>
    export default {
        name: 'UpDown'
    };
</script>

<style scoped>
  .updown-enter-active, .updown-leave-active {
    transition: all .3s;
  }
  .updown-enter, .updown-leave-to {
    opacity: 0;
    transform: translateY(30px);
  }
</style>
