<template>
  <div id="app">

    <nav class="navbar navbar-dark bg-dark">
      <a href="#"
         @click="backToHome"
      >
        <i class="fas fa-home"></i>
        <span class="navbar-brand mb-0 h1">Timesup</span>
      </a>

      <div class="my-2 my-lg-0">
        <div v-if="roomSelected">
          <span class="white"> {{ roomSelected.name }}</span>
        </div>
      </div>


      <div class="my-2 my-lg-0">
          <drop-down :items='dropDownItems' />
      </div>
    </nav>

    <div class="container">
        <up-down>
          <router-view/>
        </up-down>
    </div>
<!--    <div class="waiting"-->
<!--         v-if="waiting === true"-->
<!--    >-->
<!--      <i class="fas fa-spinner fa-spin fa-5x"></i>-->
<!--    </div>-->
  </div>
</template>

<script>

  import VueX from 'vuex'
  import UpDown from './transitions/UpDown';
  import DropDown from './components/DropDown';
  import SocketRequest from './utils/SocketRequest';

  export default {
    name: 'App',
    components: {
      UpDown,
      DropDown,
    },
    data () {
      return  {
        dropDownItems: [
          {
            show: (typeof this.playerCurrent !== 'undefined' && this.playerCurrent !== null),
            text: 'Quitter la partie',
            click: this.backToHome,
          },
          {
            show: (this.$route.name === 'home'),
            text: 'Les règles du jeu',
            click: this.goRules,
          },
        ]
      }
    },
    watch: {
      playerCurrent (newValue) {
        this.dropDownItems[0].show = (typeof newValue !== 'undefined' && newValue !== null)
      },
      '$route.name' (newValue) {
        this.dropDownItems[1].show = (newValue === 'home')
      }
    },
    methods: {
      ...VueX.mapActions([
        'sendRequest',
        'cleanGame'
      ]),
      backToHome () {
        if (this.roomSelected && this.$route.name === 'game')
        {
            if (confirm(`Attention, vous allez supprimer la pièce ${this.roomSelected.name} en quittant le jeu, donc arrêter la partie !`))
            {
              this.sendRequest(new SocketRequest(this.roomSelected.id, 'deleteRoom'))
              this.cleanGame()
            }
        }
        else
        {
          this.$router.push({name: 'home'})
        }
      },
      goRules () {
        this.$router.push({name: 'rules'})
      },
    },
    computed: {
      ...VueX.mapGetters([
        'playerCurrent',
        'roomSelected',
        'waiting',
      ])
    },
    created() {
      if (this.roomSelected === null &&
        typeof localStorage.roomSelectedId !== 'undefined'
      ) {
        this.sendRequest(new SocketRequest(localStorage.roomSelectedId, 'getRoom'))
      }
    }
  }
</script>

<style scoped>
  .white {
    color: #FFFFFF;
    padding: 5px;
  }

  .container
  {
    margin-top: 5%;
  }

  .waiting {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #000000;
    opacity: .5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


</style>
